/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #6ed209;
}
.primary-button {
  background-color: var(--main-color);
  @apply text-white rounded-lg p-2 text-center;
}

.main-color {
  color: var(--main-color);
}
html {
  scroll-behavior: smooth;
}
#section1 {
  background: url(/src/assets/images/section1/Background-1.png) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}
.card-header {
  padding: 3rem;
  color: #1e1d1d;
  display: inline-flex;
  padding: 10px 92px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(to right, #1de086, #6dcf0b);
  size: 30px;
  margin-bottom: -40%;
}

/*seccion 2 - css */

#nosotros {
  margin-left: 25px; /* Ajusta el valor para que el contenido de la sección 1 no quede oculto detrás de la barra lateral */
  background-image: url(/src/assets/images/section2/Background-2.png);
  background-position: 100%;
  background-size: 100% 100%;
  margin-left: -0.9%;
  margin-right: -0.9%;
  margin-bottom: -0.1%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  flex-shrink: 0;
  color: white;
}
